.burger {
    height: auto;
    width: auto;
    right: 0;
    padding: 0em;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    vertical-align: middle;

    
    &__menu-btn {
        height: 50px;
        width: 25px;
        margin: auto .5em auto 0em;
        border: none;
        text-transform: uppercase;
        background-color: transparent;
        cursor: pointer;
        position: relative;

        &.change {
            margin: auto 2em auto 0;
            svg {
                stroke: $clr_black   
            }
        }
        
        svg {
            height: 100%;
            width: 100%;
            margin: 0 auto;
            left: 0;
            top: 0;
            border: none;            
            position: absolute;

            path {
                position: absolute;
                stroke-width: 1px;
                stroke-linecap: round;
                stroke: $clr_black;     
            }
        }
    }


        

    &__dropdown {
        height: 100vh;
        width: 100vw;
        padding: .5em;
        top: 5rem;
        left: 0;
        right: 0;
        z-index: 100;
        position: absolute;
        background-color: $clr_white;

        .dropdown-inner-cntr {
            height: auto;
            max-width: 100%;
            margin: 0 .75em;
            display: flex;
            flex-direction: column;
            gap: 1em;
            

            .searchbar-cntr {
                height: auto;
                width: 100%;
                margin: 0 0;
                padding: 0 0;
            }

            a {
                height: auto;
                width: 100%;
                margin: 0 0;
                padding: 0 0;
                display: block;
                font-family: $ff_main;
                font-size: $fs_p;
                text-decoration: none;
                text-transform: uppercase;
                color: $clr_black;
                transition: ease-in .02s;

                &::before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: $clr_m_grey;
                    display: block;
                }

                &:hover {
                    color: $clr_orange;
                }
            } 
        }

                      
    }    
    
    &__dropdown.show {
        display: block;
    }

    &__dropdown.hidden {
        display: none;
    }
}

@media (min-width: 600px) {
    .burger {
        display: none;
    }
}


body.overflow {
    overflow: hidden;
}