.burger {
    height: auto;
    width: auto;
    right: 0;
    padding: .5em;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    border: solid blue 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    vertical-align: middle;

    
    &__menu-btn {
        height: 50px;
        width: 25px;
        margin: auto 0;
        border: solid red 0px;
        text-transform: uppercase;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        
        svg {
            height: 100%;
            width: 100%;
            margin: 0 auto;
            left: 0;
            top: 0;
            border: none;            
            position: absolute;

            path {
                position: absolute;
                stroke-width: 1px;
                stroke-linecap: round;
                stroke: $clr_black;     
            }
        }
    }

    &__menu-btn.change {
        svg {
            stroke: $clr_black   
            // path {
            //     stroke: $clr_orange;     
            // }
        }
    }

        

    &__dropdown {
        height: 100vh;
        width: 100vw;
        padding: .5em 1em;
        top: 4rem;
        right: 0;
        z-index: 100;
        position: absolute;
        background-color: $clr_white;
        display: flex;
        flex-direction: column;
        gap: .5em;

        .searchbar-cntr {
            margin: .5rem 0;
        }

        a {
            width: auto;
            margin-bottom: 1.5em;
            display: block;
            font-family: $ff_main;
            font-size: $fs_p;
            text-decoration: none;
            text-transform: uppercase;
            color: $clr_black;
            transition: ease-in .02s;

            &::before {
                content: "";
                width: 100%;
                height: 1px;
                background-color: $clr_m_grey;
                display: block;
            }

            &:hover {
                color: $clr_orange;
            }
        }                
    }    
    
    &__dropdown.show {
        display: block;
    }

    &__dropdown.hidden {
        display: none;
    }
}
@media (min-width: 600px) {
    .burger {
        display: none;
    }
}
