
.fav-btn {
    height: 2.5em;
    width: 2.5em;
    margin: .5em;
    padding: .5em;
    z-index: 100;
    border-radius: 2em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $clr_white;
    cursor: pointer;

    svg {
        height: 1.5em;
        width: 1.5em;
        color: $clr_red-orange;
    }
}