/* ----- Categories ----- */
.categories {
    width: 100%;
    margin: 1rem auto .5rem auto;
    display: flex;
    justify-content: space-between;

    .category-link {
        width: 4rem;
        height: 4rem;
        padding: 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $clr_black;
        cursor: pointer;
        text-align: center;
        text-decoration: none; 
        transition: .18s ease-in;
        
        &:hover {
            background-color: $clr_red-orange;
        }

        .active {
            background-color: $clr_red-orange;
        }

        h4 {
            margin: 2px 0px 0px 0px;
            color: $clr_white;
            font-size: 0.6em;
        }

        svg {
            height: 1.6rem;
            width: auto;
            color: $clr_white;
        }
    }
}

@media (min-width: 600px) {
    .categories {
        width: 100%;
        margin: 2rem auto 1rem auto;
    
        .category-link {
            width: 5rem;
            height: 5rem;
    
            svg {
                height: 1.8rem;
            }
        }
    }
}

@media (min-width: 992px) {
    .categories {
        width: 100%;
        margin: 2rem auto 1rem auto;
    
        .category-link {
            width: 5rem;
            height: 5rem;
    
            svg {
                height: 1.8rem;
            }
        }
    }
}