footer {
    height: max-content;
    width: 100%;
    padding: 2em 1em 4em 1em;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5em;

    .footer-section {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        color: $clr_m_grey;

        // &:first-of-type {
        //     &::before {
        //         display: block;
        //         content: "";
        //         width: 100%;
        //         height: 2px;
        //         margin: 0 0 1em 0;
        //         background-color: $clr_l_grey;
        //     }
         
        // }

        .category-link {      
            width: max-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5em;
            color: $clr_md_grey;

            svg {
                height: 100%;
                width: auto;
            }

            h4 {
                margin: auto 0;
            }
            h1 {
                margin: auto 0;
            }

            &:hover {
                color: $clr_red_orange;
            }
        }
    }
}

@media (min-width: 600px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
    
        .footer-section {
            width: auto;
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            color: $clr_m_grey;

            &.subsec {
                width: 100%;
                display: flex;
                flex-direction: column;
            }
    
            // &:first-of-type {
            //     &::before {
            //         display: block;
            //         content: "";
            //         width: 100%;
            //         height: 2px;
            //         margin: 0 0 1em 0;
            //         background-color: $clr_l_grey;
            //     }             
            // }   

            .category-link {      
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: .5em;
                color: $clr_md_grey;
    
                svg {
                    height: 100%;
                    width: auto;
                }
    
                h4 {
                    margin: auto 0;
                }

                h1 {
                    margin: auto 0;
                }
    
                &:hover {
                    color: $clr_red_orange;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    footer {
        flex-wrap: wrap;
        gap: 1em;
    
        .footer-section {

            &.subsec {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}