/* ---------- HEADER ---------- */
.header-img-cntr {
    height: 300px;
    width: 100%;
    position: absolute;
    
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(rgba(0, 0, 0, 0) 80%, $clr_white 100%);
    }
    
    .header-img {
        width: 100%;
        height: 100%;
        background: url("../../assets/or-hakim-7NHvPdiUBpM-unsplash.jpg") no-repeat;
        background-position: top;
        background-size: cover;
        filter: brightness(80%) contrast(110%);
    }
}

.header {
    width: auto;
    height: auto;
    padding: 4rem 0rem 2rem 0rem;
    position: relative;
    
    .logo {
        width: max-content;
        margin: 0 auto;
        padding: 0rem 0rem 4rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:hover h1 { color: $clr_orange }
        
        &:hover svg { color: $clr_orange }
        
        h1 {
            font-style: normal;
            font-weight: 400;
            font-family: $ff_logo;
            color: $clr_white;
            text-shadow: 0px 0px 5px #000;
            transition: .18s ease-in;
        }

        svg {
            height: 4rem;
            width: auto;
            color: $clr_white;
            filter: drop-shadow(0px 0px 5px $clr_true_black) ;
            transition: .18s ease-in;
        }
    }

    .nav {
        width: 60%;
        height: auto;
        margin: 0 auto;
        padding: 1em 2em;
        background-color: $clr_white;
        border-radius: 1em;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    }
}
