.recipe-slide {
    height: max-content;
    width: auto;
    margin: 1em 0;
    position: relative;
    overflow: hidden;
    z-index: 100;
    border-radius: $border-rad-02;
    box-shadow: rgb(0, 0, 0, .06) 0px 0px 0.125rem 2px;
    transition: ease-in-out .2s;

    &__content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .fav-btn {
            margin: .5em;
            z-index: 100;
            right: 0;
            position: absolute;
        }

        .img-cntr {
            height: 280px;
            width: 100%;
            overflow: hidden;
            object-fit: cover;
            border-radius: 2px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 2px;
                transition: ease-in-out .2s;
            } 
        }

        .slide-text {
            height: auto;
            min-height: 100px;
            width: 100%;
            padding: .5em;
            bottom: 0;
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: .5em;
            background-color: $clr_white;

            h3 {
                margin: auto 0;
                text-transform: none;
                font-size: $fs_h_large;
            }
            
            h4 {
                width: 95%;
                display: flex;
                color: $clr_black;
                font-weight: 600;
                font-size: $fs_p_large;
            }    
            
            .slide-text-details {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                p::first-letter{
                    text-transform: uppercase;
                }
                
                p:nth-child(3) {
                    bottom: 0%;
                    margin-top: auto;
                }
            }
        }
    }

    &:hover {
        &__content {
            .img-cntr {
                img {
                    height: 105%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 2px;
                } 
            }
        }
    }
}


@media (min-width: 600px) {
    .recipe-slide {
    
        &:hover {
            box-shadow: rgb(0, 0, 0, .08) 0px 0px 0.175rem 4px;
        }
    
        &__content {    
            .img-cntr {
                height: 280px;
            }
    
            .slide-text {
                min-height: 100px;
                
                h4 {
                    font-size: $fs_p_large;
                }    
            }
        }
    }
}


@media (min-width: 992px) {
    .recipe-slide {
    
        &:hover {
            box-shadow: rgb(0, 0, 0, .09) 0px 0px 0.175rem 4px;
            
            // &__content {
            //     // img {
            //     //     height: 105%;
            //     // } 
            // }
        }
    
        // &__content {    
        //     .img-cntr {
        //         height: 50%;
        //     } 
        // }
    }
}


@media (min-width: 1200px) {
    .recipe-slide {
    
        &__content {    
            .img-cntr {
                height: 300px;
            } 
    
            // .slide-text {
                
            //     h4 {
            //         font-size: $fs_h_small;
            //     }    
            // }
        }
    }
}




.recipe-article {
    height: 360px;
    width: 100%;

    .recipe-slide__content {
        height: 100%;

        .image-cntr {
            height: 100%;
            width: auto;
            position: relative;
            overflow: hidden;
            object-fit: cover;
            border-radius: 2px;
            // border: solid red 1px;

            img {
                height: 100%;
                width: auto;
                position: absolute;
                margin: -50%;
                top: 50%;
                // bottom: -50%;
                left: 50%;
                right: 50%;
                transition: ease-in-out .2s;
            } 
        }

        .slide-text {
            height: 100px;
            // border: solid blue 1px;

            h3 {
                margin: auto 0;
                text-transform: none;
                font-size: $fs_h_large;
            }
        }
    }

    &:hover {
        .recipe-slide__content {
            .image-cntr {
                img {
                    height: 105%;
                    width: auto;
                } 
            }
        }
    }
}


@media (min-width: 600px) {
    .recipe-article {
        // height: 420px;
        max-width: 48%;
    
        // .recipe-slide__content {    
        //     .image-cntr {
        //         height: 360px;
        //     }
        // }
    }
}


@media (min-width: 992px) {
    .recipe-article {
        // height: auto;
        max-width: 30%;
        // .recipe-slide__content {    
        //     .image-cntr {
        //         height: 100%;
        //         width: 100%;
        //     }
        // }
    }
}


@media (min-width: 1200px) {
    .recipe-article {
        max-width: 540px;
        // .recipe-slide__content {
        //     .image-cntr {
        //         height: 300px;
        //     } 
        // }
    }
}