.recipe-slide {
    height: max-content;
    width: auto;
    margin: 1em 0;
    position: relative;
    overflow: hidden;
    z-index: 100;
    border-radius: $border-rad-02;
    box-shadow: rgb(0, 0, 0, .06) 0px 0px 0.125rem 2px;
    transition: ease-in-out .2s;

    &__content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        .fav-btn {
            margin: .5em;
            z-index: 100;
            right: 0;
            position: absolute;
            box-shadow: rgb(0, 0, 0, .08) 0px 0px 0.125rem 2px;

            svg {
                height: 1.5em;
                width: 1.5em;
                color: $clr_d_grey;
            }

            &:hover {
                box-shadow: rgb(0, 0, 0, .08) 0px 0px 0.175rem 4px;
                svg {
                    color: $clr_red-orange;
                }
            }

            &:active {
                svg {
                    color: $clr_red-orange;
                }
            }
        }

        .img-cntr {
            height: 280px;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                // top: 0;
                // left: 0;
                object-fit: cover;
                border-radius: 2px;
                transition: ease-in-out .2s;
            } 
        }

        .slide-text {
            height: auto;
            min-height: 100px;
            width: 100%;
            padding: .5em;
            bottom: 0;
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: .5em;
            background-color: $clr_white;
            
            h4 {
                width: 95%;
                display: flex;
                color: $clr_black;
                font-weight: 600;
                font-size: $fs_p_large;
            }    
            
            .slide-text-details {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                p::first-letter{
                    text-transform: uppercase;
                }
                
                p:nth-child(3) {
                    bottom: 0%;
                    margin-top: auto;
                }
            }
        }
    }

    &:hover {
        &__content {
            .img-cntr {
                img {
                    height: 105%;
                    width: 100%;
                    // top: 0%;
                    // left: 0;
                    object-fit: cover;
                    border-radius: 2px;
                } 
            }
        }
    }
}


@media (min-width: 600px) {
    .recipe-slide {
        // height: 100%;
    
        &:hover {
            box-shadow: rgb(0, 0, 0, .08) 0px 0px 0.175rem 4px;
            
            // &__content {
            //     height: 100%;
            //     .img-cntr {
            //         img {
            //             height: 105%;
            //         }  
            //     }
               
            // }
        }
    
        &__content {    
            .img-cntr {
                height: 260px;
                // min-height: 280px;
                // width: 100%;
            }
    
            .slide-text {
                min-height: 100px;
                
                h4 {
                    // width: 95%;
                    font-size: $fs_p_large;
                }    
            }
        }
    }
}


@media (min-width: 992px) {
    .recipe-slide {
    
        &:hover {
            box-shadow: rgb(0, 0, 0, .09) 0px 0px 0.175rem 4px;
            
            &__content {
                img {
                    height: 105%;
                } 
            }
        }
    
        &__content {    
            .img-cntr {
                height: 50%;
                // width: 100%;
            } 
    
            // .slide-text {
            //     height: 50%;
            //     // padding: .2em .5em .5em .5em;
                
            //     // h4 {
            //     //     width: 95%;
            //     //     margin: 0em 0em .2em 0em;
            //     //     font-size: $fs_p_large;
            //     // }    
            // }
        }
    }
}


@media (min-width: 1200px) {
    .recipe-slide {
    
        // &:hover {
        //     box-shadow: rgb(0, 0, 0, .09) 0px 0px 0.175rem 4px;
            
        //     &__content {
        //         .img-cntr {
        //             img {
        //             height: 105%;
        //         } 
        //         }
                
        //     }
        // }
    
        &__content {    
            .img-cntr {
                height: 300px;
                // width: 100%;
            } 
    
            .slide-text {
                // height: 40%;
                // padding: .2em .5em .5em .5em;
                
                h4 {
                    // width: 95%;
                    // margin: 0em 0em .2em 0em;
                    font-size: $fs_h_small;
                }    
            }
        }
    }
}
