.slim-nav-cntr {
    width: 100%;
    height: auto;

    .slim-nav {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: .5em;
        top: 0;
        position: fixed;
        z-index: 1000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $clr_white;

        &__logo {
            height: auto;
            width: auto;
            margin: 0;
            padding: 0em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .5em;
            align-items: center;
            text-decoration: none;

            &:hover h1 { color: $clr_orange }
            
            &:hover svg { color: $clr_orange }
            
            h1 {
                margin: 0 0 .5em 0;
                padding: 0 ;
                font-style: normal;
                font-weight: 400;
                font-size: $fs_p_large;
                font-family: $ff_logo;
                color: $clr_black;
                transition: .18s ease-in;
            }

            svg {
                height: 2rem;
                width: auto;
                margin: .5em 0 0 0;
                color:  $clr_black;
                transition: .18s ease-in;
            }
            
        }

        &__navigation {
            display: none;
        }
    }
}

@media (min-width: 600px) {
    .slim-nav-cntr {
        .slim-nav {
            &__logo {
                
                h1 {
                    font-size: $fs_p_large;
                }

                svg {
                    height: 2rem;
                }
            }

            &__navigation {
                display: contents;
                width: auto;
                height: auto;
                margin: 0;
                padding: 0em;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                // gap: .5em;

                // .fav-btn.category-link {
                //     height: auto;
                //     width: auto;
                //     margin: 0em 0 0 0;
                //     padding: 0em;
                //     flex-direction: column;
                //     gap: .25em;
                //     box-shadow: rgb(0, 0, 0, 0) 0px 0px 0px 0px;       
                
                //     svg {
                //         display: block;
                //         height: $fs_p;
                //         width: $fs_p;
                //     }
                //     span {
                //         font-size: 0.6em;
                //         font-weight: 600;
                //         color: $clr_d_grey;
                //     }
                
                //     &:hover {
                //         box-shadow: rgb(0, 0, 0, 0) 0px 0px 0px 0px;
                //         span {
                //             color: $clr_red_orange;
                //         }
                //     }
                
                //     &:active {
                //         span {
                //             color: $clr_red_orange;
                //         }
                //     }
                // }

                .categories {
                    height: 100%;
                    margin: 0;
                    justify-content: space-evenly;                    

                    .category-link {
                        width: 3.5rem;
                        height: 100%;
                        color: $clr_black;
                        background-color: transparent;
                        box-shadow: rgb(0, 0, 0, .0) 0px 0px 0px 0px;
                        &:hover {
                            box-shadow:  rgb(0, 0, 0, .0) 0px 0px 0px 0px;
                        }

                        &:hover {
                            h4 {
                                color: $clr_orange;
                            }    
                            svg {
                                color: $clr_orange;
                            }
                        }
                        h4 {
                            color: $clr_black;
                        }
                        svg {
                            height: 1.5rem;
                            width: auto;
                            color: $clr_black;
                        }
                    }
                }


                .searchbar-cntr {
                    margin: 0rem auto;
                    width: 80%;   
                
                    .searchbar {
                        width: auto;
                        position: relative;   

                        svg {
                            top: 50%;
                            left: 0%;
                            position: absolute;
                            transform: translate(100%, -50%);
                            color: $clr_black;
                        }
                        
                        input {
                            width: 100%;
                            padding: .75rem 3rem;
                            border: none;
                            border-radius: 1.5em;
                            outline: none;
                            font-size: 1rem;
                            color: $clr_black;
                            background-color: $clr_semitrans_l_grey60;
                            box-shadow: rgb(0, 0, 0, .0) 0px 0px 0px 0px;
                            &:hover {
                                box-shadow: rgb(0, 0, 0, .0) 0px 0px 0px 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 992px) {
    .slim-nav-cntr {
        width: 100%;
        display: flex;
        justify-content: center;

        .slim-nav {
            max-width: 2000px;

            &__navigation {
                display: contents;
                width: auto;
                height: auto;
                margin: 0;
                padding: 0em;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 4rem;

                .categories {
                    margin: 0;

                    .category-link {
                        width: 4rem;
                        height: 4rem;
                    }
                }

                .searchbar-cntr {
                    margin: 0rem auto;
                    width: 100%;   
                
                    .searchbar {
                        width: 100%;
                        position: relative;   
                    }
                }
            }
        }
    }
}