// .splide {
//     width: auto;
//     height: auto;
//     margin: 0 auto;
//     padding: 0 0 .5em 0;

//     .splide__list {
//         height: auto;
//         width: 100%;
//         margin: 0 auto;
//     }

//     .splide__slide {
//         width: calc(((100% + 0.5em) / 2.5) - 0.5em) !important;
//         // width: a !important;
//         margin: 0 0 !important;
//         padding: 0 0em 0 1em;
//     }
// }
// .splide__track {
//     padding: .5em 0 1em 0;
// }


// @media (min-width: 600px) {
//     .splide {
//         width: 100%;
//         height: auto;
//         margin: 0 auto;

//     .splide__slide {
//         max-width: 460px;
//         width: calc(((100% + 0.5em) / 3) - 0.5em) !important;
//     }
//     }

// }

// @media (min-width: 992px) {
//     .splide {
//         width: 100%;
//         height: auto;
//         margin: 0 auto;

        
//     .splide__slide {
//         max-width: auto;
//         width: calc(((100% + 0.5em) / 4) - 0.5em) !important;
//     }
//     }

// }


/* ----- Splide carousel arrows ----- */
.splide__arrows {
    .splide__arrows--ltr {
        button.splide__arrow {
            background-color: transparent;
        }
    }
}
.splide__arrows.splide__arrows--ltr {
    display: flex;
    flex-direction: row;

    button.splide__arrow {
        margin: 5px 0 0 0;
        top: 0%;
        background-color: transparent;
    }
    button.splide__arrow.splide__arrow--next {
        right: 0em;
    }   
    button.splide__arrow.splide__arrow--prev {
        left: 0em;
    }
}


/* ----- Splide pagniation buttons ----- */
.splide__pagination.splide__pagination--ltr {
    bottom: -1.5em;
}

button.splide__pagination__page {
    padding: 0px 2px;
    background-color: $clr_m_grey;
}

button.splide__pagination__page.is-active {
    background-color: $clr_d_grey;
    transform: scale(1.4)
}