
.wrapper {
    width: 100vw;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3{
        padding: 0 1em;
    }
}
@media (min-width: 600px) {
    .wrapper {
        width: 100%;
        margin: 2rem 0rem;
        
        h3{
            padding: 0 1.5em;
        }
    }
}

@media (min-width: 992px) {
    .wrapper {
        width: 100%;
        margin: 4rem 0rem;
        h3{
            padding: 0 1.5em;
        }
    }
}


.detail-wrapper {
    margin-top: 10rem;
    margin-bottom: 5rem;
    display: flex;

    .active {
        background: linear-gradient(35deg, #494949, #313131);
        color: $clr_white;
    }

    h2 {
    margin-bottom: 2rem;
    }

    ul {
        margin-top: 2rem;
    }

    li {
        font-size: 1.2rem;
        line-height: 2.5rem;
    }
    button {
        margin-right: 2rem;
        padding: 1rem 2rem;
        border: solid $clr_black 2px;
        cursor: pointer;
        background-color: $clr_white;
        color: #313131;
        font-weight: 600;
    }
    
    // .info {
    //     margin-left: 10rem;
    // }
}
