* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $clr_white;
    font-family: $ff_main;
    font-size: 16px;
    color: $clr_black;
}