/* ---------- ROOTS ---------- */
:root {
    --ff-logo: 'Righteous', cursive;
    --ff-main: 'Quicksand', 'Roboto', 'Raleway', 'Montserrat', sans-serif;

    --fs-p: .875em;
    --fs-p-s: .625em;  
    --fs-p-l: 1em;

    --fs-h-s: 1.250em;
    --fs-h-m: 1.375em;
    --fs-h-l: 1.5em;

    --clr-black: #252525;
    --clr-white: #f2f2f2;
    --clr-l-grey: #dadada;
    --clr-d-grey: #484848;

    --clr-orange: #e8812d; /* #ffa962; */
    --clr-red-orange: #d64b21;

    --clr-1: #4c54aa;
    --clr-2: #508d46;
    --clr-3: #f28f3f; /* #f28f3f */
    --clr-4: #da4112;
} /* e89042 429236 */



/* ---------- IMPORTS ---------- */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



/* ---------- GENERAL ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--clr-white);
    font-family: var(--ff-main);
    font-size: 16px;
    color: var(--clr-black);
}

p {
    font-size: var(--fs-p);
}

h4 {
    font-size: var(--fs-h-s);
}

h3 {
    margin: 2rem 0rem 0rem 0rem;
    font-size: var(--fs-h-m);
}

h2 {
    font-size: var(--fs-h-m);
}

h1 {
    font-size: var(--fs-h-l);
}

a {
    color: rgb(54, 54, 54);
}



/* ---------- HEADER ---------- */
.header {
    width: auto;
    height: auto;
    padding: 4rem 0rem 2rem 0rem;
    position: relative;
}

.logo {
    width: max-content;
    margin: 0 auto;
    padding: 0rem 0rem 4rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.logo h1 {
    font-style: normal;
    font-weight: 400;
    font-family: var(--ff-logo);
    color: var(--clr-white);
    text-shadow: 0px 0px 5px #000;
    transition: .18s ease-in;
}

.logo > svg {
    height: 4rem;
    width: auto;
    color: var(--clr-white);
    filter: drop-shadow(0px 0px 5px #000) ;
    transition: .18s ease-in;
}

.logo:hover h1 {
    color: var(--clr-orange);
}

.logo:hover svg {
    color: var(--clr-orange);
}

.header-img-cntr {
    height: 300px;
    width: 100%;
    position: absolute;
}

.header-img {
    width: 100%;
    height: 100%;
    background: url("assets/or-hakim-7NHvPdiUBpM-unsplash.jpg") no-repeat;
    background-position: top;
    background-size: cover;
    filter: brightness(80%) contrast(110%);
}

.header-img-cntr::after {
    content: " ";
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0) 80%, var(--clr-white) 100%);
}

/* ----- Nav ----- */
.nav {
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 1em 2em;
    background-color: var(--clr-white);
    border-radius: 1em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

/* ----- Searchbar ----- */
.searchbar-cntr {
    margin: 0rem auto;
    width: 100%;   
}

.searchbar {
    width: 100%;
    position: relative;
}

.searchbar input {
    width: 100%;
    padding: 1rem 3rem;
    border: none;
    border-radius: 1.5em;
    outline: none;
    background-color: var(--clr-black);
    font-size: 1.5rem;
    color: var(--clr-white);
}

.searchbar svg {
    top: 50%;
    left: 0%;
    position: absolute;
    transform: translate(100%, -50%);
    color: var(--clr-white);
}


/* ----- Categories ----- */
.categories {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}

.category-link {
    width: 5rem;
    height: 5rem;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--clr-black);
    cursor: pointer;
    text-align: center;
    text-decoration: none; 
    transition: .18s ease-in;
}

.category-link:hover {
    background-color: var(--clr-red-orange);
}

.category-link.active {
    background-color: var(--clr-red-orange);
}

.category-link > h4 {
    margin: 2px 0px 0px 0px;
    color: var(--clr-white);
    font-size: 0.6em;
}

.category-link > svg {
    height: 1.8rem;
    width: auto;
    color: var(--clr-white);
}


/* test */
.category-test {
    width: 5rem;
    height: 5rem;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--clr-black);
    cursor: pointer;
    text-align: center;
    text-decoration: none; 
    transition: 0.2s ease-in; 
}

.category-test:nth-child(1) {
    background-color: var(--clr-1);
}

.category-test:nth-child(2) {
    background-color: var(--clr-2);
}

.category-test:nth-child(3) {
    background-color: var(--clr-3);
}

.category-test:nth-child(4) {
    background-color: var(--clr-4);
}

.category-test > h4 {
    margin: 2px 0px 0px 0px;
    color: var(--clr-white);
    font-size: 0.6em;
}

.category-test > svg {
    height: 1.8rem;
    width: auto;
    color: var(--clr-white);
}



/* --------- HOMEPAGE ---------- */
.page-section {
    margin: 0 1rem;
}

.wrapper {
    margin: 4rem 0rem;
}

.box {
    min-height: 16rem;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.box .card img {
    height: 100%;
    width: auto;
    left: 0;
    position: absolute;
    object-fit: cover;
    border-radius: 2px;
}

.box .card p {
    width: 95%;
    height: 40%;
    left: 50%;
    bottom: 0%;
    z-index: 10;
    position: absolute;    
    display: flex;
    justify-content: center;
    align-items: top;
    color: var(--clr-white);
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    transform: translate(-50%, 0%);
}    
    
.gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
}



/* --------- CUISINE PAGE ---------- */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 3rem;
}

.cuisine > h2 {
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.cuisine > .grid > .card img {
    width: 100%;
    border-radius: 2rem;
}

.cuisine > .grid > .card a {
    text-decoration: none;
}

.cuisine > .grid > .card h4 {
    text-align: center;
}



/* ---------- DETAILS PAGE ---------- */
.detail-wrapper {
    margin-top: 10rem;
    margin-bottom: 5rem;
    display: flex;
}

.detail-wrapper .active {
    background: linear-gradient(35deg, #494949, #313131);
    color: var(--clr-white);
}

.detail-wrapper h2 {
    margin-bottom: 2rem;
}
.detail-wrapper ul {
    margin-top: 2rem;
}

.detail-wrapper li {
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.detail-wrapper button {
    margin-right: 2rem;
    padding: 1rem 2rem;
    border: solid black 2px;
    cursor: pointer;
    background-color: var(--clr-white);
    color: #313131;
    font-weight: 600;
}

.detail-wrapper .info {
    margin-left: 10rem;
}